<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>{% block title %}{{ title }}{% endblock %}</title>

	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='Tool_labs_logo.ico') }}" />
	<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='style.css') }}" />
{% block head %}
        <script>

function enter(e, textinput, prefix) {
    if (e.keyCode == 13) {
	var value = textinput.value.replace(/ /g, "_");
	value = value.charAt(0).toUpperCase() + value.slice(1);
        location.href = "{{ url_for('index') }}" + prefix + value;
        return false;
    }
}

        </script>{% endblock %}
  </head>
    <body>
        <div id="content-wrapper">
		<div id="menu">
<img src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Tool_labs_logo.svg/120px-Tool_labs_logo.svg.png">
                <div id="menu-content">
<div id="menu-item">{% if title == 'Ferramentas para projetos lusófonos'%}<b>Ferramentas</b>{% else %}<a href="/ptwikis/">Ferramentas</a>{% endif %}</div>
<div id="menu-item"><a href="/ptwikis/Tools">Ferramentas globais</a></div>
<div id="menu-item"><a href="//pt.wikipedia.org/wiki/Wikip%C3%A9dia:Ptwikis">Coordenação</a></div>
<div id="menu-item"><a href="//pt.wikipedia.org/w/index.php?title=Wikipédia_Discussão:Ptwikis&action=edit&section=new&preloadtitle=Bug:%20________">Informe um erro</a></div>
                </div>
            </div>
            <div id="content">
<br/>
<h1>{{ self.title()|safe }}</h1>
<hr/> Tool Labs – Ferramentas para projetos lusófonos <br/><br/>
{% block content %}{{ content }}{% endblock %}
            </div>
       </div>
       <div style="float: right; margin: 10px 8px; font-size:x-small">
Feito com <a href="http://flask.pocoo.org/">Flask</a>
       </div>
       <div style="text-align:center; font-size:x-small; margin: 10px 10px 12px 181px">
O <a href="https://github.com/ptwikis/ptwikis">código-fonte</a> desta página é disponibilizado sob a licença GNU General Public License 3.0 (GPL V3).
       </div>
    </body>
</html>

 
